# Paths

# Путь к файлу с операциями
OPERATIONS_FILE=./data/operations.xlsx

# API Keys

# Если используешь внешние сервисы, например для курсов валют
CURRENCY_API_KEY=your_api_key_here

# Settings

# Формат даты в Excel
DATE_FORMAT=%d.%m.%Y %H:%M:%S

# Признак того, что день указан первым в дате
DAYFIRST=True

# Лимит топ-транзакций для отображения
TOP_TRANSACTIONS_LIMIT=5
